.sign-up {
  padding-top:50px;
  background-image: url("../../assets/img/auth-background.jpg");
  background-size: 100%;
  background-position-y: 50%;

    #buttonContainer{

    text-align:center;
    background-color:white;
    // padding-bottom:10px;
    // padding-top:10px;
    // border-top:1px solid lightgray;
    

    #button{
    width:90%;
    font-weight:500;

}
}

  ::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

  .log-in-txt {
    // width: 100%;
    text-align: center;
    color: gray;
  }

  form {
    width: 95%;
    margin: auto;

    .sign-up-btn {
      background-color: rgb(74, 165, 217);
      margin: auto;
    }
  }

  .error {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(217, 74, 87);
    p {
      color: white;
      font-weight: bold;
    }
  }
}
