<ion-header>

  <ion-navbar >
    <ion-title>Fill In Your Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list mode="wp" no-lines>

    <ion-item class="item-border" mode="wp" color="light"  *ngIf="!online">
          <h2 item-left><ion-icon name="md-contact" color="danger"></ion-icon> &nbsp;&nbsp;</h2>
          <h2  item-left color="danger">YOU ARE OFFLINE </h2>
    </ion-item>

    <ion-item class="item-border" mode="wp" color="light"  *ngIf="online">
          <h2 item-left><ion-icon name="md-contact" color="primary"></ion-icon> &nbsp;&nbsp;</h2>
          <h2  item-left color="primary">YOU'RE NOW ONLINE </h2>
    </ion-item>

    <div style="width:100%; height:10px;"></div>

    <ion-item mode="wp">

      <h2 color="gray" item-left>Location &nbsp;&nbsp;: </h2>
      <h2  text-wrap ><b>{{name}}</b></h2>

    </ion-item>

     <!--<ion-item>
      <ion-label color="gray">Shirt Color : </ion-label>
      <ion-input type="text" mode="wp" placeholder="black t-shirt"></ion-input>
    </ion-item>-->

    <!--<ion-item mode="wp">
      <h2 color="gray" item-left>Outfit of the day &nbsp;&nbsp;: </h2>
    </ion-item>-->

    <ion-item mode="wp">

      <ion-label mode="wp" color="gray">Pick Shirt Color</ion-label>

      <ion-select (ionChange)="colorClicked(color)" mode="wp" [(ngModel)]="color" name = "color" [disabled] = "online">
        <ion-option value="Blue">Blue</ion-option>
        <ion-option value="Red">Red</ion-option>
        <ion-option value="Green">Green</ion-option>
        <ion-option value="Brown">Brown</ion-option>
        <ion-option value="White">White</ion-option>
        <ion-option value="Gray">Gray</ion-option>
        <ion-option value="Black">Black</ion-option>
        <ion-option value="Yellow">Yellow</ion-option>
        <ion-option value="Orange">Orange</ion-option>
        <ion-option value="Purple">Purple</ion-option>
        <ion-option value="Pink">Pink</ion-option>
        <ion-option value="Maroon">Maroon</ion-option>
      </ion-select>

    </ion-item>

    <div *ngIf = "showDescription">

      <ion-textarea mode="wp" [(ngModel)] = "display" [disabled] = "online"></ion-textarea>

       <div style="width:100%; text-align:center">
         <h6  item-left color="gray" style="font-weight:100; margin-top:-10px">This description will be shown to the Requester</h6>
      </div>

    </div>

  </ion-list>

</ion-content>

<ion-footer>

    <div class="buttonContainer" *ngIf="!online">

      <h6  item-left color="gray" style="font-weight:100">Go Online to wait for request</h6>
      <button ion-button class="button" color="primary" round mode="ios" (click)="shareQueue()">GO ONLINE</button>

    </div>

    <div class="buttonContainer"  *ngIf="online">

      <button ion-button class="button" color="gray" round mode="ios" outline (click)="Offline()">GO OFFLINE</button>

    </div>

</ion-footer>
